input,
input.form-control{
	background: $light;
	border: none;
	color: $font-color;
}

textarea{
	//background: 
}

button,
input[type="submit"],
.btn{
	@include btn-hover;

	&.inverst{
		@include btn-hover(true);
	}
}